Source: ros-indigo-urdf2graspit
Section: misc
Priority: extra
Maintainer: Jennifer Buehler <jennifer.e.buehler@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-eigen-conversions, ros-indigo-roscpp, ros-indigo-roslint, ros-indigo-urdf
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-urdf2graspit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dev, libsoqt4-dev, ros-indigo-eigen-conversions, ros-indigo-roscpp, ros-indigo-urdf
Description: The urdf2graspit package
